{
  "AWSEBDockerrunVersion": "1",
  "Authentication": {
    "Bucket": "elasticbeanstalk-eu-west-1-598354601320",
    "Key": "dockercfg"
  },
  "Image": {
    "Name": "mcansky/sinatra-hello:<TAG>",
    "Update": "true"
  },
  "Ports": [
    {
      "ContainerPort": "80"
    }
  ]
}
