{
  "AWSEBDockerrunVersion": "1",
  "Authentication": {
    "Bucket": "sinatra-hello-bucket",
    "Key": "docker/dockercfg"
  },
  "Image": {
    "Name": "mcansky/sinatra-hello:<TAG>",
    "Update": "true"
  },
  "Ports": [
    {
      "ContainerPort": "80"
    }
  ]
}
